Makefile
Makefile.in
aclocal.m4
autom4te.cache
autotools
config.h
config.h.in
config.log
config.status
msgexchange.pc
libtool
libs
stamp-h1
obj
configure
upload.sh
*.tar.gz
.cproject
.project
*~
doc/msgexchange.doxy
doc/*.png
doc/html
doc/latex
m4
*.bin
*tests/.bin
