language: android
jdk: oraclejdk8
sudo: required

android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-27.0.1
    - android-27
    - extra-android-m2repository

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update
  - sudo apt-get install libstdc++6
  - git clone https://github.com/urho3d/android-ndk.git $HOME/android-ndk-root
  - export ANDROID_NDK_HOME=$HOME/android-ndk-root
  - yes | $ANDROID_HOME/tools/bin/sdkmanager "cmake;3.6.4111459"
  - rm -f gradle.properties
  - openssl aes-256-cbc -K $encrypted_f1b12e79c807_key -iv $encrypted_f1b12e79c807_iv -in gradle.properties.enc -out gradle.properties -d

before_script:
  - chmod +x gradlew

script:
  - ./gradlew assembleRelease
  - if ( ! [ -z ${TRAVIS_TAG} ] && [ -f app/build/outputs/apk/robotv-release.apk ] ) ; then mv app/build/outputs/apk/robotv-release.apk robotv-${TRAVIS_TAG}.apk ; fi

deploy:
  provider: releases
  api_key:
    secure: mXLa+lcBUNaqKeshGn6zd5M3HQrSc6Qu0gpdGqdpH0CaytBtIzXxscpfkVxJ6EIVe+HLhYv0oJ0kCVilNOe7filqG0/ThlwmNJoBUWlMnydbiCFTEl9QcxzgtagsyishPp4gBMieL/QJ8dz2s3K59aUDqmxksIIV+kr2c3MY7aiRnY5qLBrCA3Dz++eG2grFDx3IzbmcPwHOpGJPDktsA2y36hciGeEasBBlxePph2EUNWAh2hWqG+0j6HRMS/uKZutk6dJuVTdnke6L09ADPqwiJP+h+RH3iwYg8WRTIslJd/6wCICdD+0bgLTL+XNA+AtdQt77fhTONxaDwP1JlOMY0cz/yElYYkCvlHwbhDvZbxBGumG4xDbciR0pIAvYj2UvXc+X9dPi5J8l8VOyluVy74EiEHpswLBZLfAxWOGRp+RgJ01z5GOgbl4CbwlAmOaacZi5qd65vgpeK/vDUip/29vrNidxRI2NI8dxtDzFKyEhnqullk0BuGmQAwSckKacc2knJW/UHXAQuXv3YlgKEjkMkxZPNji1KD3Pg11avYctkCgpxjTbZvx712aYX/f5jN9GDSlHY2WdNVRO//XtgUXfAJxly/QV1lNYRk25myCsWSQZV3l9YQNqgIOc7Mwh2j2qh4pennJ8Le2YiNUt94IbRKk7DtDFgiFir54=
  file: robotv-${TRAVIS_TAG}.apk
  skip_cleanup: true
  on:
    tags: true

