<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xvdr.robotv">

    <!-- Required to play internet-based streaming contents. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required to register a SyncStatusObserver. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- Required to update or read existing channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <!-- Required to update channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-permission android:name="com.android.providers.tv.permission.ACCESS_ALL_EPG_DATA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <!-- Required to expose this app in the store only when the device has TV input framework
    with the TV app. -->
    <uses-feature
        android:name="android.software.live_tv"
        android:required="true" />

    <application android:label="@string/robotv_input"
            android:icon="@drawable/ic_live_tv_white_48dp"
            android:theme="@style/Theme.Leanback" >
        <!-- Launched by the TV app before it uses RoboTvInputService to set up channels for this
        input. -->
        <activity
            android:name=".setup.SetupActivity"
            android:theme="@style/Theme.Leanback.GuidedStep">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.xvdr.recordings.activity.SearchActivity"
            android:theme="@style/Theme.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Launched by the TV app when user wants to change the settings for this input. The
        settings activity is expected to be used for the existing configuration. E.g. subscription
        change, fine tuning of the channels, etc. -->

        <!-- TV input sample which includes minimal implementation for seeing a video on the TV app.
        Requires "android.permission.BIND_TV_INPUT" to ensure that only system services can bind.
        Lots of features including EPG and parental controls are left out in favor of keeping this
        sample simple. For a fully-featured example, see RichTvInputService. -->
        <service android:name=".service.RoboTvInputService"
            android:permission="android.permission.BIND_TV_INPUT"
            android:label="@string/robotv_input_label">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <!-- An XML file which describes this input. This provides a pointer to the
            SetupActivity to the system/TV app. -->
            <meta-data android:name="android.media.tv.input"
                android:resource="@xml/robotvinputservice" />
        </service>

        <!-- This service implements the SyncAdapter for updating program information regularly in
        the background. It needs to be exported, so that the sync framework can access it. -->
        <service android:name=".syncadapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- Since the channel/program feed here does not require any authentication, we use a dummy
        account used for SyncAdapter. -->
        <service android:name=".service.AccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- roboTV Recordings -->
        <activity
            android:name="org.xvdr.recordings.activity.RecordingsActivity"
            android:banner="@drawable/banner_movies"
            android:label="Recordings"
            android:theme="@style/Theme.Leanback">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.xvdr.recordings.activity.DetailsActivity"
            android:theme="@style/Theme.Leanback">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.xvdr.recordings.activity.PlayerActivity"
            android:theme="@style/Theme.Leanback">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>


</manifest>
